fastapi  # Check for the latest version on https://pypi.org/project/fastapi/
uvicorn  # ASGI server for FastAPI
sqlalchemy  # ORM for database interactions
alembic  # Database migration tool
pydantic # Data validation by using Python type annotations
python-dotenv  # Reads key-value pairs from a .env file and sets them as environment variables
requests # Requests
mysql-connector-python
pymysql